{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
	<select name="data.type" placeholder="Type">
		{{#select data.type}}
		<option value="Bug">Bug</option>
		<option value="Dark">Dark</option>
		<option value="Dragon">Dragon</option>
		<option value="Electric">Electric</option>
		<option value="Fairy">Fairy</option>
		<option value="Fighting">Fighting</option>
		<option value="Fire">Fire</option>
		<option value="Flying">Flying</option>
		<option value="Ghost">Ghost</option>
		<option value="Grass">Grass</option>
		<option value="Ground">Ground</option>
		<option value="Ice">Ice</option>
		<option value="Normal">Normal</option>
		<option value="Poison">Poison</option>
		<option value="Psychic">Psychic</option>
		<option value="Rock">Rock</option>
		<option value="Steel">Steel</option>
		<option value="Water">Water</option>
		{{/select}}
	</select>
	<select name="data.moveCategory">
		{{#select data.moveCategory}}
		<option value="Support">Support</option>
		<option value="Physical">Physical</option>
		<option value="Special">Special</option>
		{{/select}}
	</select>
	<select name="data.moveTarget">
		{{#select data.moveTarget}}
		<option value="Foe">Foe</option>
		<option value="RandomFoe">Random Foe</option>
		<option value="AllFoes">All Foes</option>
		<option value="User">User</option>
		<option value="OneAlly">One Ally</option>
		<option value="UserAndAllies">User and Allies</option>
		<option value="Battlefield">Battlefield</option>
		<option value="Area">Area</option>
		<option value="BattlefieldAndArea">Battlefield and Area</option>
		{{/select}}
		{{!-- <option value="Any">Any</option> --}}
	</select>
	<label for="data.ranged">Ranged: </label>
	<input type="checkbox" name="data.ranged" checked="data.ranged">
	{{!-- <select name="Ranged">
		<option value="Not-Ranged">Not Ranged</option>
		<option value="Ranged">Ranged</option>
	</select> --}}
	<hr>
	<!-- input type="textarea" name="Effect" id="Effect" rows="5" placeholder="Effect" required/ -->
	<!-- input type="textarea" name="Description" id="Description" rows="5" placeholder="Description" required/ -->
	<textarea name="Effect" id="Effect" rows="5" cols="50" placeholder="Effect"></textarea>
	<br>
	<textarea name="Description" id="Description" rows="5" cols="50" placeholder="Description"></textarea>
	<br>
	<hr>
	<h4>Damage Stats</h4>
	<p>Power</p>
	<input type="number" name="Power" placeholder="0" required />
	<input type="text" name="Damage1" placeholder="Strength/Special/..." required />
	<input type="text" name="Damage2" placeholder="Happiness/Will/None/..." required />
	<hr>
	<h4>Accuracy Stats</h4>
	<input type="text" name="Accuracy1" placeholder="Dexterity/Cute/..." required />
	<input type="text" name="Accuracy2" placeholder="Brawl/Perform/..." required />
	<p>Accuracy Modifier</p>
	<!-- 'max' tag to make this negative only -->
	<input type="number" name="Accuracy_Modifier" max="0" placeholder="0" />
	<hr>
	<h4>Additional Info</h4>
	<textarea name="Info" id="Info" rows="5" cols="50" placeholder="Notes go here."></textarea>
	<div class="btn-block">
		<button type="submit">Submit</button>
	</div>
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="attributes">Attributes</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			{{editor content=data.description target="data.description" rollData=rollData button=true owner=owner
			editable=editable}}
		</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			{{!-- As you add new fields, add them in here! --}}
		</div>
	</section>
</form>